tensorflow
torch
torchvision
mxnet==1.6.0
gluoncv==0.7.0
Keras
segmentation-models==1.0.1
progressbar2==3.38.0
tensorflow-probability
dm-sonnet==2.0.0
opencv-python
Shapely==1.7.0
moviepy==1.0.2
kornia
lap==0.4.0
Cython==0.29.15
cython-bbox==0.1.3
pandas
albumentations>=0.3.0
